

<ion-content class="home">
	<div class="fullscreen-bg"  style="width:100%;height:100%;margin-top:0px;padding:0px;">
		<video class="fullscreen-bg__video" autoplay loop muted webkit-playsinline playsinline>
			<source src="assets/Ground-Zero.mp4" type='video/mp4; codecs="h.264"' >
			<source src="assets/Ground-Zero.webm" type="video/webm" >
		</video>
		<div class="center animated zoomIn">
			<h1>Map&Share</h1>
		</div>
	</div>



		<div *ngIf="!auth.isAuthenticated()" class="form">
		<ion-list>
			<ion-item>
				<ion-label fixed>Email</ion-label>
				<ion-input type="text" [(ngModel)]="email"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label fixed>Password</ion-label>
				<ion-input type="password" [(ngModel)]="password"></ion-input>
			</ion-item>
		</ion-list>

		<ion-grid>
			<ion-row>
				<ion-col width-50>
					<button ion-button block (click)="register()">Register</button>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col width-50>
					<button ion-button block (click)="login()">Login</button>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col width-50>
				    <button ion-button full (click)="gLogin()">Google Login</button>
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>

<div *ngIf="auth.isAuthenticated()">
	<ion-col width-50>
		<button ion-button block (click)="openMap()">Open Map</button>
	</ion-col>
	<ion-col width-50>
		<button ion-button block (click)="mySites()">My sites</button>
	</ion-col>
	<ion-col width-50>
		<button ion-button color="dark" block (click)="logout()">Logout</button>
	</ion-col>	

<!--	<h4>User Profile</h4>
	<ion-list *ngIf="auth.isAuthenticated()">
		<ion-item>
			<ion-label fixed>Name</ion-label>
			<ion-input class="right" type="text" [(ngModel)]="name"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label fixed>Birthday</ion-label>
			<ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="birthday"></ion-datetime>
		</ion-item>
	</ion-list>
		<ion-grid>
			<ion-row>
				<ion-col width-50>
					<button ion-button color="secondary" block (click)="save()">Save</button>
				</ion-col>
				<ion-col width-50>
					<button ion-button color="dark" block (click)="logout()">Logout</button>
				</ion-col>
			</ion-row>
		</ion-grid> -->
</div>

</ion-content>
